div.page::before {
  background-image: url(./resources/hero-mask-min.png);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.page {
  position: sticky;
  height: 100%;
  background-image: url(./resources/hero-bg-min.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80%;
}

.content h1 {
  color:white;
  font-size: 32px;
  margin: 0 35px;
}

.content p {
  margin: 30px 30px;
  font-size: 14px;
  color:#f4e8a1;
}

.homepage-btn-cta {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 700;
  color: #625928;
  padding: 10px 20px;
  border: 1px solid #f6d515;
  background-color: #f6d515;
  border-radius: 3px;
}

@media screen and (min-width: 750px) {
  .content h1 {
    font-size: 60px;
  }

  .content p {
    font-size: 20px;
  }

  .homepage-btn-cta {
    padding: 14px 24px;
  }
}

@media screen and (min-width: 1400px) {
  .content h1 {
    font-size: 90px;
  }

  .content p {
    font-size: 26px;
    margin: 60px 0 50px;
  }

  .homepage-btn-cta {
    padding: 22px 38px;
    font-size: 22px;
  }
}
