.hero-section {
  margin: 0 auto;
  max-width: 1440px;
  padding: 20px;
  /* padding: 60px 60px 0 60px; */
  color: white;
}

.movie-logo {
  height: 40px;
  /* height:200px; */
}

.btn-hero {
  color: white;
  font-size: 10px;
  font-weight: 500;
  /* font-weight: 600; */
  background-color: #707070b0;
  margin: 15px 10px 15px 0;
  /* margin: 45px 15px 45px 0; */
  width: 70px;
  height: 25px;
  /* width: 130px;
  height: 35px; */
  border-style: none;
  border-radius: 2px;
}

.fa-plus, .fa-play {
  font-size: 8px;
  margin-right: 8px;
}

.movie-description h3 {
  display: none;
  /* font-size: 20px; */
  /* font-weight: 600; */
}

.movie-description p {
  display: none;
  /* font-size: 8px;
  color: white;
  padding: 20px 0;
  width: 500px */
}

/* @media screen and {min-width: } */