header {
  display: flex;
  align-items: center;
  /* padding: 35px */
  padding: 20px;
  margin: auto;
  justify-content: space-between;
  max-width: 1440px;   
}

.logo {
  height: 18px; 
  /* height:30px */
}

.btn-login {
  font-size: 10px;
  font-weight: bold;
  color: #625928;
  padding: 5px 14px;
  background-color: #f6d515;
  border: 1px solid #f6d515;
  border-radius: 3px;
}

@media screen and (min-width:750px) {
  header {    
    padding: 40px 60px;
  }

  .logo {
    height: 50px;
  }

  .btn-login {    
    padding: 12px 35px;    
    font-size: 14px;
  }
}
