.movies-section {
  background-color: rgb(59, 44, 2);
  font-size: 22px;
  color: white;
  /* padding: 0 60px; */
  padding: 0 20px;
  margin: auto;
  max-width: 1440px;
}
.movies-section h3 {
  /* padding: 30px 0 15px 0; */
  padding-top: 10px;
  font-size: 10px;
}

.carousel-movie img {
  height: 125px;
}

.slick-list {
  overflow: visible !important;
}

.slick-next {
  right: -20px !important;
  z-index: 1;
}

.slick-prev {
  left: -20px !important;
  z-index: 1;
}